---
layout: "layouts/base.njk"
---

<section class="py-600">
  <h1 class="mb-500">{{ demo[locale].heading }}</h1>

  <h2>{{ demo[locale].subheading }}</h2>

  {# ------------- Alerts ------------- #}

  <h3 class="container-full mt-500 mb-400 bb-sm">{{ demo[locale].alerts.heading }}</h3>
  <gcds-alert heading="{{ demo[locale].alerts.content.heading }}" alert-role="success" container="xl">
    <p>{{ demo[locale].alerts.content.text }}</p>
  </gcds-alert>
  <gcds-alert heading="{{ demo[locale].alerts.content.heading }}" alert-role="info" container="xl">
    <p>{{ demo[locale].alerts.content.text }}</p>
  </gcds-alert>
  <gcds-alert heading="{{ demo[locale].alerts.content.heading }}" alert-role="warning" container="xl">
    <p>{{ demo[locale].alerts.content.text }}</p>
  </gcds-alert>
  <gcds-alert heading="{{ demo[locale].alerts.content.heading }}" alert-role="danger" container="xl">
    <p>{{ demo[locale].alerts.content.text }}</p>
  </gcds-alert>

  {# ------------- Breadcrumbs ------------- #}

  <h3 class="container-full mt-500 mb-400 bb-sm">{{ demo[locale].breadcrumbs.heading }}</h3>

  <gcds-breadcrumbs slot="breadcrumb">
    <gcds-breadcrumbs-item href="{{ demo[locale].breadcrumbs.content.gcLink }}">
      {{ demo[locale].breadcrumbs.content.gc }}
    </gcds-breadcrumbs-item>
    <gcds-breadcrumbs-item href="{{ demo[locale].breadcrumbs.content.componentsLink }}">
      {{ demo[locale].breadcrumbs.content.components }}
    </gcds-breadcrumbs-item>
  </gcds-breadcrumbs>

  {# ------------- Buttons ------------- #}

  <h3 class="container-full mt-500 mb-400 bb-sm">{{ demo[locale].buttons.heading }}</h3>
  <gcds-button button-role="primary">
    {{ demo[locale].buttons.content.primary }}
  </gcds-button>
  <gcds-button button-role="secondary">
    {{ demo[locale].buttons.content.secondary }}
  </gcds-button>
  <gcds-button button-role="danger">
    {{ demo[locale].buttons.content.danger }}
  </gcds-button>
  <gcds-button button-role="skip-to-content">
    {{ demo[locale].buttons.content.skipToContent }}
  </gcds-button>
  <gcds-button type="link" button-style="text-only" href="#">
    {{ demo[locale].buttons.content.link }}
  </gcds-button>
  <gcds-button
    type="link"
    button-style="text-only"
    href="#"
    target="_blank"
  >
    {{ demo[locale].buttons.content.linkExternal }}
  </gcds-button>

  {# ------------- Cards ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].cards.heading }}</h3>
  <gcds-grid tag="div" columns-desktop="1fr 1fr 1fr" columns-tablet="1fr 1fr" columns="1fr" gap="250">
    <gcds-card card-title="{{ demo[locale].cards.content.card1.title }}" title-element="h4" href="#red" description="{{ demo[locale].cards.content.card1.description }}" tag="{{ demo[locale].cards.content.card1.tag }}" img-src="{{ demo[locale].cards.content.cardImg }}">
    </gcds-card>

    <gcds-card card-title="{{ demo[locale].cards.content.card2.title }}" title-element="h4" href="#red" description="{{ demo[locale].cards.content.card2.description }}" img-src="{{ demo[locale].cards.content.cardImg }}">
    </gcds-card>

    <gcds-card card-title="{{ demo[locale].cards.content.card3.title }}" title-element="h4" href="#red" description="{{ demo[locale].cards.content.card3.description }}" img-src="{{ demo[locale].cards.content.cardImg }}">
    </gcds-card>
  </gcds-grid>

  <gcds-grid tag="div" columns-desktop="1fr 1fr" columns-tablet="1fr" columns="1fr" gap="250" class="d-block mt-250">
    <gcds-card type="action" card-title="{{ demo[locale].cards.content.card4.title }}" title-element="h4" href="#red" description="{{ demo[locale].cards.content.card4.description }}" img-src="{{ demo[locale].cards.content.cardImg }}">
      <gcds-button type="button" button-role="secondary" slot="footer">
        {{ demo[locale].cards.content.card4.btnText }}
      </gcds-button>
    </gcds-card>

    <gcds-card type="action" card-title="{{ demo[locale].cards.content.card5.title }}" title-element="h4" href="#red" description="{{ demo[locale].cards.content.card5.description }}" img-src="{{ demo[locale].cards.content.cardImg }}">
      <gcds-button type="button" button-role="secondary" slot="footer">
        {{ demo[locale].cards.content.card5.btnText }}
      </gcds-button>
    </gcds-card>
  </gcds-grid>

  <gcds-card class="mt-400" card-title="{{ demo[locale].cards.content.card6.title }}" href="#red" description="{{ demo[locale].cards.content.card6.description }}">
  </gcds-card>

  {# ------------- Container ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].containers.heading }}</h3>
  <gcds-container container="full">
    <div class="p-200 b-sm">{{ demo[locale].containers.content.full }}</div>
  </gcds-container>
  <br/>
  <gcds-container container="lg" centered>
    <div class="p-200 b-sm">{{ demo[locale].containers.content.centered }}</div>
  </gcds-container>
  <br/>
  <gcds-container container="xs">
    <div class="p-200 b-sm">{{ demo[locale].containers.content.xs }}</div>
  </gcds-container>

  {# ------------- Date modified ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].dateModified.heading }}</h3>
  <gcds-date-modified>2023-01-26</gcds-date-modified>

  {# ------------- Details ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].details.heading }}</h3>
  <gcds-details details-title="{{ demo[locale].details.content.heading }}">
    <p>{{ demo[locale].details.content.text }}</p>
  </gcds-details>

  {# ------------- Footer ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].footer.heading }}</h3>
  <gcds-footer
    display="full"
    contextual-heading="{{ demo[locale].footer.content.contextualHeading }}"
    contextual-links='{ "{{ demo[locale].footer.content.contextualLink1 }}": "#","{{ demo[locale].footer.content.contextualLink2 }}": "#", "{{ demo[locale].footer.content.contextualLink3 }}": "#"}'
  >
  </gcds-footer>

  {# ------------- Stepper + Form elements ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].form.heading }}</h3>
  <gcds-stepper current-step="1" total-steps="4"></gcds-stepper>
  <form>
    <gcds-error-summary error-links='{"error-href-1": "{{ demo[locale].form.content.errorSummary.error1 }}", "error-href-2": "{{ demo[locale].form.content.errorSummary.error2 }}", "error-href-3": "{{ demo[locale].form.content.errorSummary.error3 }}" }'>
    </gcds-error-summary>

    <gcds-input
      input-id="form-name"
      label="{{ demo[locale].form.content.input.label }}"
      hint="{{ demo[locale].form.content.input.hint }}"
      required
    ></gcds-input>

    <gcds-input
      input-id="form-number"
      type="number"
      size="10"
      label="{{ demo[locale].form.content.inputNumber.label }}"
      hint="{{ demo[locale].form.content.inputNumber.hint }}"
      required
    ></gcds-input>

    <gcds-textarea
      textarea-id="form-message"
      label="{{ demo[locale].form.content.textarea.label }}"
      hint="{{ demo[locale].form.content.textarea.hint }}"
    ></gcds-textarea>

    <gcds-checkbox
      checkbox-id="form-checkbox"
      label="{{ demo[locale].form.content.checkbox.label }}"
      hint="{{ demo[locale].form.content.checkbox.hint }}"
      checked=""
    ></gcds-checkbox>

    <gcds-fieldset
      fieldset-id="fieldset"
      legend="{{ demo[locale].form.content.fieldset.legend }}"
      hint="{{ demo[locale].form.content.fieldset.hint }}"
    >
      <gcds-radio
        radio-id="form-radio-1"
        label="{{ demo[locale].form.content.radio1.label }}"
        hint="{{ demo[locale].form.content.radio1.hint }}"
        name="radio"
        checked
      ></gcds-radio>
      <gcds-radio
        radio-id="form-radio-2"
        label="{{ demo[locale].form.content.radio2.label }}"
        hint="{{ demo[locale].form.content.radio2.hint }}"
        name="radio"
      ></gcds-radio>
    </gcds-fieldset>

    <gcds-select
      select-id="form-select"
      label="{{ demo[locale].form.content.select.label }}"
      hint="{{ demo[locale].form.content.select.hint }}"
      error-message="{{ demo[locale].form.content.select.errorMessage }}"
      default-value="{{ demo[locale].form.content.select.defaultValue }}"
    >
      <option>{{ demo[locale].form.content.select.option1 }}</option>
      <option>{{ demo[locale].form.content.select.option2 }}</option>
      <option>{{ demo[locale].form.content.select.option3 }}</option>
    </gcds-select>

    <gcds-file-uploader
      uploader-id="form-uploader"
      label="{{ demo[locale].form.content.fileUploader.label }}"
      hint="{{ demo[locale].form.content.fileUploader.hint }}"
      accept="image/png"
      multiple
    ></gcds-file-uploader>
  </form>

  {# ------------- Grid ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].grid.heading }}</h3>
  <gcds-grid
    tag="article"
    columns-desktop="1fr 1fr 1fr 1fr"
    columns-tablet="1fr 1fr"
    columns="1fr"
    gap="500"
  >
    <p>{{ demo[locale].grid.content.text }}</p>
    <p>{{ demo[locale].grid.content.text }}</p>
    <p>{{ demo[locale].grid.content.text }}</p>
    <p>{{ demo[locale].grid.content.text }}</p>
  </gcds-grid>

  {# ------------- Header ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].header.heading }}</h3>
  <gcds-header
    lang="{{ demo[locale].header.content.lang }}"
    lang-href="#"
    signature-variant="colour"
    skip-to-href="#"
  >
    <gcds-top-nav slot="menu" label="topbar" alignment="right" lang="{{ demo[locale].header.content.lang }}">
      <gcds-nav-link href="#red" slot="home">
        {{ demo[locale].header.content.logo }}
      </gcds-nav-link>
      <gcds-nav-link href="#red">{{ demo[locale].header.content.link }}</gcds-nav-link>
      <gcds-nav-link href="#red" current>{{ demo[locale].header.content.link }}</gcds-nav-link>
      <gcds-nav-group
        menu-label="{{ demo[locale].header.content.group }} submenu"
        open-trigger="{{ demo[locale].header.content.group }}"
      >
        <gcds-nav-link href="#red">{{ demo[locale].header.content.link }}</gcds-nav-link>
        <gcds-nav-link href="#red">{{ demo[locale].header.content.link }}</gcds-nav-link>
        <gcds-nav-link href="#red">{{ demo[locale].header.content.link }}</gcds-nav-link>
      </gcds-nav-group>
    </gcds-top-nav>
    <gcds-breadcrumbs slot="breadcrumb">
      <gcds-breadcrumbs-item href="#">{{ demo[locale].header.content.breadcrumb }}</gcds-breadcrumbs-item>
    </gcds-breadcrumbs>
  </gcds-header>

  {# ------------- Heading ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].headings.heading }}</h3>
  <h1>{{ demo[locale].headings.content.h1 }}</h1>
  <h2>{{ demo[locale].headings.content.h2 }}</h2>
  <h3>{{ demo[locale].headings.content.h3 }}</h3>
  <h4>{{ demo[locale].headings.content.h4 }}</h4>
  <h5>{{ demo[locale].headings.content.h5 }}</h5>
  <h6>{{ demo[locale].headings.content.h6 }}</h6>

  {# ------------- Icons ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].icons.heading }}</h3>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="caption" margin-right="200"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="text" margin-right="200"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h6" margin-right="200"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h5" margin-right="200"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h4" margin-right="200"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h3" margin-right="200"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h2" margin-right="200"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h1" margin-right="200"></gcds-icon>

  <h4 class="mt-500 mb-300">{{ demo[locale].icons.content.fixed }}</h4>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="caption" fixed-width></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="text" fixed-width></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h6" fixed-width></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h5" fixed-width></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h4" fixed-width></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h3" fixed-width></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h2" fixed-width></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h1" fixed-width></gcds-icon>

  <h4 class="mt-500 mb-300">{{ demo[locale].icons.content.variable }}</h4>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="caption"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="text"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h6"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h5"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h4"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h3"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h2"></gcds-icon>
  <gcds-icon name="{{ demo[locale].icons.content.icon }}" size="h1"></gcds-icon>

  {# ------------- Pagination ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].pagination.heading }}</h3>

  <p>{{ demo[locale].pagination.content.list }}:</p>
  <gcds-pagination
    display="list"
    label="{{ demo[locale].pagination.content.list }}"
    type="list"
    total-pages="22"
    current-page="8"
    url={}
    pageChangeHandler={}
  ></gcds-pagination>

  <p class="mt-500">{{ demo[locale].pagination.content.simple }}:</p>
  <gcds-pagination
    display="simple"
    label="{{ demo[locale].pagination.content.simple }}"
    previous-href="#"
    previous-label="{{ demo[locale].pagination.content.previousLabel }}"
    next-href="#"
    next-label="{{ demo[locale].pagination.content.nextLabel }}"
  ></gcds-pagination>

  {# ------------- Phase banner ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].phaseBanner.heading }}</h3>
  <gcds-phase-banner banner-role="primary">
    <gcds-icon name="tree" size="sm" slot="banner-icon-left"></gcds-icon>
    <p slot="banner-text">{{ demo[locale].phaseBanner.content.text }}</p>
  </gcds-phase-banner>

  {# ------------- Search ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].search.heading }}</h3>
  <gcds-search></gcds-search>

  {# ------------- Side navigation ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].sideNavigation.heading }}</h3>
  <gcds-side-nav label="Label">
    <gcds-nav-link href="#">Nav link</gcds-nav-link>
    <gcds-nav-link href="#">Nav link</gcds-nav-link>

    <gcds-nav-group open-trigger="Nav group label" menu-label="Nav group label">
      <gcds-nav-link href="#">Nav link</gcds-nav-link>
      <gcds-nav-link href="#">Nav link</gcds-nav-link>

      <gcds-nav-group open-trigger="Nav group label" menu-label="Nav group label sublevel">
        <gcds-nav-link href="#">Nav link</gcds-nav-link>
        <gcds-nav-link href="#">Nav link</gcds-nav-link>
        <gcds-nav-link href="#">Nav link</gcds-nav-link>
      </gcds-nav-group>
    </gcds-nav-group>
  </gcds-side-nav>

  {# ------------- Signature ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].signature.heading }}</h3>

  <p class="mb-400">{{ demo[locale].signature.content.typeSignature }}</p>
  <gcds-signature ></gcds-signature>

  <p class="mt-500 mb-400">{{ demo[locale].signature.content.typeWordmark }}</p>
  <gcds-signature type="wordmark"></gcds-signature>

  {# ------------- Screen reader only ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].screenReaderOnly.heading }}</h3>
  <gcds-sr-only>{{ demo[locale].screenReaderOnly.content.textA11y }}</gcds-sr-only>
  <p>({{ demo[locale].screenReaderOnly.content.text }})</p>

  {# ------------- Text ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].text.heading }}</h3>
  TO DO

  {# ------------- Theme and topic menu ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].topicMenu.heading }}</h3>
  <gcds-topic-menu></gcds-topic-menu>

  {# ------------- Top navigation ------------- #}

  <h3 class="container-full mt-700 mb-400 bb-sm">{{ demo[locale].topNav.heading }}</h3>
  <gcds-top-nav label="Top navigation" alignment="right">
    <gcds-nav-link href="#home" slot="home">
      {{ demo[locale].topNav.content.home }}
    </gcds-nav-link>
    <gcds-nav-link href="#">{{ demo[locale].topNav.content.link1 }}</gcds-nav-link>
    <gcds-nav-group  open-trigger="{{ demo[locale].topNav.content.group1 }}" menu-label="{{ demo[locale].topNav.content.group1 }}">
      <gcds-nav-link href="#">{{ demo[locale].topNav.content.group1Link1 }}</gcds-nav-link>
      <gcds-nav-link href="#">{{ demo[locale].topNav.content.group1Link2 }}</gcds-nav-link>
      <gcds-nav-link href="#">{{ demo[locale].topNav.content.group1Link3 }}</gcds-nav-link>
    </gcds-nav-group>
    <gcds-nav-link current href="#">{{ demo[locale].topNav.content.link2 }}</gcds-nav-link>
    <gcds-nav-link href="#">{{ demo[locale].topNav.content.link3 }}</gcds-nav-link>
  </gcds-top-nav>
</section>
